body {
    font-family: 'Geologica', sans-serif;
    background: rgb(244, 245, 234);
    /* background-image: url(images/logo2.png); */
}
.reg-container {
    margin: 0 auto;
    position: relative;
    top: 33vh;
    background: rgb(30, 52, 74);
    width: 70vw;
    height: 35vh;
}

.page-reg {
    position: relative;
    margin: 0 auto;
    width: min-content;
    top: 10vh;
}
p {
    color: white;
}

.input-login {
    border-radius: 5px;
    width: 350px;
    height: 29px;
}
.input-password {
    border-radius: 5px;
    width: 350px;
    height: 29px;
}